.filterBy-container {
    background-color: #73777a;
    display: flex;
    flex-direction: column;
    /* align-content: center;
    justify-content: center */
}

.book-filter {
    background-color: #73777a;
    display: flex;
    justify-content: space-between;
    font-family: lato-bold;
    box-shadow: 0 0px 3px 2px #7e7d7d78;
    margin: 15px;
}

.book-filter label {
    color: whitesmoke;
    display: flex;
    align-items: center;
}