.notesAdd-form {
    display: flex;
    flex-direction: column;
}

.search-input,
.notesAdd-input {
    width: 50%;
}

.note-preview {
    box-shadow: 0 0px 3px 2px #7e7d7d78;
    padding: 5px 10px;
    border-radius: 5px;
    border: 2px solid transparent;
    transition: 0.3s;
    text-align: center;
    margin-block-start: 10px;
}

.note-preview:hover {
    transform: scale(1.025);
    box-shadow: 0 0 0 0 transparent, 0 0 0 0 transparent, 0 2px 15px rgb(0 0 0 / 30%);
}

.note-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.keepApp-modal-container {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    opacity: 1;
    transition: opacity .3s;
}

.keepApp-update-modal {
    background-color: red;
    position: absolute;
    z-index: 2;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: 370px;
    border-radius: 5px;
    box-shadow: 0 0 0 0 transparent, 0 0 0 0 transparent, 0 2px 15px rgb(0 0 0 / 30%);
}

#titleToCahnge {
    height: 50px;
    border: none;
    font-size: 2rem;
    margin-bottom: 10px;
    padding: 30px 10px;
    outline: none;
    background: transparent;
}

#txtToChange {
    height: 200px;
    width: 100%;
    border: none;
    font-size: 1.5rem;
    padding: 10px;
    outline: none;
    resize: none;
    background: transparent;
}