@import './Home.css';
@import './UserMsg.css';
@import './NavBar.css';
@import './filter.css';
@import './FooterApp.css';
@import './LongTxt.css';
@import './AboutUs.css';
@import '../../apps/Keep/assets/css/keepApp-main.css';
@import '../../apps/Mail/assets/css/Mail.css';
@import '../../apps/Books/assets/css/bookApp-main.css';
@font-face {
    font-family: lato-bold;
    src: url(../fonts/Lato-Bold.ttf);
}

@font-face {
    font-family: lato-light;
    src: url(../fonts/Lato-Light.ttf);
}

* {
    box-sizing: border-box;
    color: #040a2c;
}

body {
    /* background-color: rgb(226, 234, 236); */
    background-color: rgb(255, 255, 255);
    font-family: lato-light;
    margin: 0;
    font-size: 16px;
}

h1,
h2,
h3,
h4,
h5 {
    margin: 0 0 1rem;
    font-family: lato-bold;
}

p {
    margin: 0 0 1rem;
}

a {
    text-decoration: none;
}